<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicPlayer</title>
    <link rel="stylesheet" href="../src/css/base.css">
    <link rel="stylesheet" href="../src/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../src/css/player.css">

</head>
<body>
<div class="body-container">
    <div class="mainmenu">
        <nav class="navigation">
            <div class="navigation_header">
                <div class="logo">
                    <div class="navigation_item_logo">
                         <a href="home.html" >
                            <i class="bi bi-music-note-beamed"></i>
                        </a>
                    </div>
                </div>
                <div class="search">
                </div>
            </div>
            <div class="navigation_contend">
                <div class="navigation_contend_home">
                    <div class="navigation_item">
                    <a href="home.html" >
                        <i class="bi bi-house-fill"></i>
                        <span>主页</span>
                    </a>
                    </div>
                    <div class="navigation_item">
                    <a href="radio.html">
                        <i class="bi bi-broadcast-pin"></i>
                        <span>广播</span>
                    </a>
                    </div>
                </div>
                <div class="navigation_contend_library">
                    <div class="navigation_item">
                        <span class="navigation_item_mini">资料库</span>
                    </div>
                    <ul class="navigation_item">
                        <li>
                            <a href="added.html">
                                <i class="bi bi-bag-heart-fill"></i>
                                <span>喜爱的歌曲</span>
                            </a>
                        </li>
                        <li>
                            <a href="singer.html">
                                <i class="bi bi-mic-fill"></i>
                                <span>歌手</span>
                            </a>
                        </li>
                        <li>
                            <a href="album.html">
                                <i class="bi bi-journal-album"></i>
                                <span>专辑</span>
                            </a>
                        </li>
                        <li>
                            <a href="song.html">
                                <i class="bi bi-file-music-fill"></i>
                                <span>歌曲</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navigation_contend_playlist">
                    <div class="navigation_item">
                        <span class="navigation_item_mini">播放列表</span>
                    </div>
                    <ul class="navigation_item">
                        <li>
                            <a href="playlist.html">
                                <i class="bi bi-music-note-list"></i>
                                <span>所有歌单</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

</div>
<div id = "player" class="player_body">
    <div id="player_control" class="player_control">
         <span class="player_item" id="player_prev">
         <i class="bi bi-caret-left-fill"></i>
        </span>
        <span class="player_item" id="player_pause">

<!--            <i class="bi bi-pause-circle-fill"></i>-->

        </span>
        <span class="player_item" id="player_next">
            <i class="bi bi-caret-right-fill"></i>
        </span>
    </div>
    <div id ="music_info" class="music_info">
        <div class="music_imgs"></div>
        <div class = music_info_text>
            <div class="music_name"></div>
            <div class="artist_name"></div>

            <div class="time">

                <div class="current_time"></div>
                <div class="total_time"></div>
            </div>
            <div class="bar">
                <div id="ins_time"></div>
                <div id="s_hover"></div>
                <div class="progress_bar"></div>
            </div>
        </div>
    </div>
    <div class="volcontrol">
    <div id="vol" class = "vol">
        <em></em>
        <a class="volBar" id="volBar">
                <i class="currvol" id="currvol"></i>
        </a>

    </div>

    </div>
</div>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>